.btn-primary {
  padding: 18px 24px;

  color: #fff;
  text-decoration: none;

  background-color: #1e3240;
  border: 1px solid transparent;
}

.btn-secondary {
  padding: 18px 24px;

  color: #1e3240;
  text-decoration: none;

  background-color: transparent;
  border: 1px solid #1e3240;
}