@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: #1E3240;
}

h1 {
  font-size: 90px;
}

.section-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 48px;
}

.section-subtext {
  margin: 0;
  
  font-size: 18px;
  color: #BDBDBD;
}