.property-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.page-filters {
  margin-top: 50px;
}