.section-testimonial {
  padding: 50px 0;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
}

.featured-text {
  max-width: 540px;

  .section-heading,
  .section-subheading {
    margin-bottom: 40px;
  }
}

.stat-container {
  display: flex;
}